# R入門

## はじめに
- 初めに以下のセルを実行してください
- 必要なライブラリのインポートとデータベース（PostgreSQL）からのデータ読み込みを行います
- 利用が想定されるライブラリは以下セルでインポートしています
- その他利用したいライブラリがあればinstall.packages()で適宜インストールしてください
- 名前、住所等はダミーデータであり、実在するものではありません

In [4]:
require("RPostgreSQL")
require("tidyr")
require("dplyr")
require("stringr")
require("caret")
require("lubridate")
require("rsample")
require("recipes")
require("themis")

host <- "db"
port <- Sys.getenv()["PG_PORT"]
dbname <- Sys.getenv()["PG_DATABASE"]
user <- Sys.getenv()["PG_USER"]
password <- Sys.getenv()["PG_PASSWORD"]

con <- dbConnect(PostgreSQL(), host=host, port=port, dbname=dbname, user=user, password=password)
df_user_subscriptions <- dbGetQuery(con,"SELECT * FROM user_subscriptions")

---
> R-001: ユーザーのサブスクリプションデータ（user_subscriptions）から全項目の先頭10件を表示し、どのようなデータを保有しているか目視で確認

In [6]:
head(df_user_subscriptions, n = 10)

   id user_id subscription_id start_date end_date   status
1   1  1      1               2022-09-02 <NA>       active
2   2  2      2               2022-09-04 <NA>       active
3   3  3      1               2022-09-04 <NA>       active
4   4  4      1               2022-09-04 <NA>       active
5   5  5      1               2022-09-05 2023-02-14 cancelled
6   6  6      2               2022-09-05 2023-02-15 cancelled
7   7  7      1               2022-09-05 2023-02-23 cancelled
8   8  8      2               2022-09-06 2023-02-16 cancelled
9   9  9      1               2022-09-06 2023-01-19 cancelled
10 10 10      2               2022-09-06 2023-01-26 cancelled
   created_at
1  2022-09-02 00:54:33
2  2022-09-04 11:14:31
3  2022-09-04 17:39:57
4  2022-09-04 22:23:29
5  2022-09-05 00:17:57
6  2022-09-05 00:48:05
7  2022-09-05 01:28:29
8  2022-09-06 03:09:11
9  2022-09-06 06:04:55
10 2022-09-06 07:47:10